@use "@Styles/colors" as *;

.cart-listing {
    list-style: none;

    &__item {
        padding: 24px 0;
        width: 100%;
        border: .5px solid $gray;
        border-left: none;
        border-right: none;

        &--mini {
          padding: 20px 0;
          border: none;
        }
    }

}