

.product-header {

    &__brand, &__name {
        display: block;
        font-size: 30px;
        line-height: 27px;
    }

    &__brand {
        margin-bottom: 16px;
        font-weight: 600;
    }

    &__name {
        font-weight: 400;
    }

}