

.product-header {
    display: inline-block;
    &__brand, &__name {
        display: block;
        font-size: 30px;
        line-height: 27px;
    }

    &__brand {
        margin-bottom: 16px;
        font-weight: 600;
    }

    &__name {
        font-weight: 400;
    }

    &--mini * {
        font-weight: 300;
        font-size: 16px;
        line-height: 160%;
    }

    &--mini &__brand {
        margin-bottom: 0;
    }


}
