@use '@Styles/colors' as *;

.total-products {
    padding: 6px;
    min-width: 20px;
    height: 20px;
    border-radius: 60px;
    background-color: $dark;
    color: $background;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
    line-height: auto;
    letter-spacing: 0;
}