@use './colors.scss' as *;
@use 'sass:color';

@mixin shadow {
    box-shadow: 0 4px 35px $shadow;
}

@mixin subheading {
    margin-bottom: 8px;
    font-family: "Roboto Condensed";
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}


@mixin actionButton {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $light;
    border:none;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0px;
}

@mixin customScrollbar($track-color: #ccc, $thumb-color: $primary) {

    $thumb-inactive: color.adjust($thumb-color, $alpha: -0.3);

    & {
        scrollbar-color: $track-color $thumb-inactive;
        transition: scrollbar-color .3s ease-out;

        &:hover {
            scrollbar-color: $track-color $thumb-color;
        }        
    }

    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        background-color: $track-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $thumb-inactive;
        border: 5px solid transparent;
        border-radius: 50px;
        background-clip: content-box;

        &:hover {
            background-color: $thumb-color;
        }
    }
}


