@use './colors.scss' as *;

@mixin shadow {
    box-shadow: 0 4px 35px $shadow;
}

@mixin subheading {
    margin-bottom: 8px;
    font-family: "Roboto Condensed";
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}


@mixin actionButton {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $background;
    border:none;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0px;
}


