@use "@Styles/colors" as *;

.layout {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
 

  &__content {
    margin: 0 auto;
    padding: 0 101px;
    min-height: 100vh;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;

      @media (max-width: 900px) {
        padding: 0 50px;
      }
    
      @media (max-width: 720px) {
        padding: 0 20px;
      }
    
    
  }

  &__header {
    margin-bottom: 80px;
    width: 100%;
    height: 80px;
  }

  &__main {
    flex-grow: 1;
  }

  
}
