@use "@Styles/colors" as *;

.layout {
  min-height: 100vh;
  width: 100vw;
  padding: 0 101px;
  display: flex;
  justify-content: center;
  background-color: $background;

  @media (max-width: 1200px) {
    padding: 0 70px;
  }

  @media (max-width: 900px) {
    padding: 0 50px;
  }

  @media (max-width: 720px) {
    padding: 0 20px;
  }
 

  &__content {
    flex-grow: 1;
    position: relative;
    min-height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    
  }

  &__header {
    margin-bottom: 80px;
    width: 100%;
    height: 80px;
  }

  &__main {
    flex-grow: 1;
  }


  
}
