@use "@Styles/mixins";

.cart {
    &__title {
        margin-bottom: 55px;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
    }

    &__summary {
        margin-top: 32px;
        display: inline-flex;
    }

    &__order-btn {
        @include mixins.actionButton;
        margin: 16px 0;
        width: 279px;
        height: 43px;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
    }
}
