@use "@Styles/colors" as *;

.cart-item {
    width: 100%;
    display: flex;


    &__details {
        flex-grow: 1;

        &--mini {
            width: 155px;
            min-width: 155px;
        }
    }

    &__header {
       color: $dark;

       &:hover {
        text-decoration: underline;
       }
    }

    &__header, &__price {
        margin-bottom: 8px;
    }


    &__amount {
        margin: 0 24px;

        &--mini {
            margin: 0 4px;
        }
    }


    &__carousel {
        width: 200px;

        &--mini {
            margin-left: 4px;
            flex-grow: 1;
        }
    }

}