@use "@Styles/colors" as *;

.action-btn {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $background;
    border:none;
    cursor: pointer;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 0px;

}